{% load static %}

<div class="mt-12 md:mt-20 px-4 md:px-14">
    <div class="containerPSlider swiper">
        <div class="category">
            <div class="card-wrapper swiper-wrapper pb-10">
                {% for category in categories %}
                    <div class="card swiper-slide">
                        <a href="{{ category.get_absolute_url }}"
                           class="flex justify-between items-center shiny w-full border border-zinc-100 rounded-2xl hover:shadow-lg transition py-3 px-5">
                            <p class="text-xs md:text-sm text-zinc-700">
                                {{ category.name }}
                            </p>
                            <img class="max-w-12 md:max-w-14" src="{{ category.image.url }}" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>